doctype html
extends layout

block content
  nav.menu
    a(class="",href="/")="accueil"
    a(class="",href="/filter")="Filtrer les données"
    a(class="selected",href="/d3")="Voir toutes les données"
 
  script(type="module" src="/javascripts/index.js" )


    



  
  

