html{
  background: url(/images/background.jpg);
  height: 100%;

}
body {
 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
 
}

a {
  color: #00B7FF;
}
p.nom{
  position: absolute;
  visibility: hidden;
  display: block;
    background: #1d1d1d;
    color: white;
    padding: 5px;
    border-radius: 3px;

}
span:hover p.nom{
  visibility: visible;
}
.objet{
  display: inline-block;
  min-width: 80px;
  min-height: 80px;
  margin: 5px;
  
}
.resultat{
  
  width: 95%;
  margin: auto;
}
.id{
  visibility: hidden;
  position: absolute;
}
.objet a {
  color: white;
  font-weight: bolder;
  text-decoration: none;
  display: block;
  text-align: center;
}
.objet img{
  width: 120px;
}
span.label {
  font-weight: bold;
}
input, select {
  width: 8em;
  border-radius: 3px;
  border: none;
  display: block;
  padding: 3px;
  margin: 5px;
}
form{

      background: rgba(255,255,255,0.6);
      text-align: center;
      color: black;
      padding: 5px;
      border-radius: 0 0 10px 10px;
      width: fit-content;
      margin: auto;
}
.bold{
  font-weight: bold;
}
.observablehq{
  display: none;
}
.vue{
  margin: auto;
  text-align: center;
}
section {
  background: rgba(255,255,255,0.6);
  display: block;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px 9% 5px 10%;
  border-radius: 15px;
  width: 20%;
}
.imgView{
  margin:10px;
}
.input{
  margin: 5px;
}
nav {
  
  top: 0;
  width: 100%;
  text-align: center;
}
form div {
  display: inline-block;
}

article{
  text-align: center;
  margin-top: 50px;
}
p.intro {
  display: block;
  width: 90%;
  margin: auto;
  margin-top: 200px;
  color: white;
  font-size: large;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #286090;
  background-image: none;
  border-color: #204d74;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #337ab7;
  border-color: #2e6da4;
}
a.btn.btn-primary {
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}
.large{
  margin: 20px;
  font-size: x-large;
}
